node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
/.env
/auth
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
html-report.zip
/tests/visualComparision/visualComparision.test.ts-snapshots
/logs
/html-report
/allure-results
/auth/superAdminFile.json